dwm/*kb*.o
dwm/opt
!dwm/opt/dwm
nvim/.config/nvim/plugin
nvim-windows/plugin
vim/.vim/undodir
vim/.vim/.netrwhist
lazy-lock.json
.luarc.json
tmux/.config/tmux/plugins
tmux/.config/tmux/tmux.conf
nvim/.config/nvim/spell
nvim/.config/nvim/lua/settings/
.DS_STORE
